#contact-overlay{
	position: fixed;
	top: 50%;
	height: 0;
	width: 100%;
	overflow: hidden;
	z-index: 99999;
	left: 0;
	visibility: hidden;
	transition: all 300ms ease 200ms;
	background: rgba(#fff, .9);
	@include bp(custom, 0, 551px) {
		overflow-y: scroll;
	}
	&.active{
		visibility: visible;
		height: 100%;
		top: 0;
		.contain{
			visibility: visible;
			opacity: 1;
		}
		.btn-close{
			right: 20px;
		}
	}
	.contain{
		width: 980px;
		max-width: 100%;
		margin: 100px auto;
		visibility: hidden;
		opacity: 0;
		padding: 0 20px;
		box-sizing: border-box;
		transition: all 500ms ease 300ms;
		.column_1_2{
			width: 50%;
			box-sizing: border-box;
			float: left;
			@include bp(custom, 0, 551px) {
				width: 100%;
				float: none;
				margin-bottom: 25px;
			}
			&:first-of-type{
				padding-right: 2%;
			}
			&:last-of-type{
				padding-left: 2%;
				margin-top: 20px;
				@include bp(custom, 0, 551px) {
					margin-top: 100px;
				}
			}
		}
		h3{
			font-size: 45px;
			width: 100%;
			padding-bottom: 15px;
			color: $green;
			margin-bottom: 40px;
		}
		.gform_wrapper .top_label .gfield_label{
			font-weight: normal;
			text-transform: uppercase;
			font-size: 14px;
		}
		.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit]{
			background: $green;
			border-radius: 20px;
			color: #fff;
			float: right;
			padding: 7px 15px;
			border: 0;
		}
		.gform_wrapper .gfield_required{
			color: $green;
			font-size: 22px;
		}
		.ginput_container input, .ginput_container textarea{
			padding: 5px;
			border: 1px solid #666;
		}
		.ginput_container input{
			height: 25px;
		}
		.gform_wrapper {
			li.gf_left_half,
			li.gf_right_half {
				float: none;
				width: 100%;
			}
		}
	}
	.btn-close{
		color: #333;
		font-weight: bold;
		font-family: $quicksand;
		font-size: 40px;
		position: absolute;
		top: 20px;
		right: -40px;
		transition: all 500ms ease 300ms;
	}
}

#page-container{
	transition: all 500ms ease;
}

.noscroll{
	overflow: hidden;
	#page-container{
		filter: blur(4px);
	}
}