body #main-footer{
	width: 100%;
	z-index: -2;
	background: #333;
	color: #fff;
	#footer-bottom{
		background: transparent;
		color: #999;
		padding-bottom: 30px;
		p{
			color: #999;
		}
		a{
			color: #999 !important;
			&:hover{
				color: #fff !important;
			}
		}
		.foot-left{
			float: left;
			width: 100%;
			ul{
				margin: 0 45px;
				float: left;
				display: block;
				list-style: none;
				&.social{
					margin: 57px 0 0 0;
					float: right;
					text-align: right;
					li{
						float: left;
						margin: 0 5px;
					}
					a{
						color: #fff;
						font-size: 24px;
					}
				}
			}
			li.head{
				color: #fff;
				font-weight: bold;
			}
		}
		#foot-logo{
			width: 150px;
			float: left;
			margin-right: 70px;
		}
	}
	#footer-top{
		background: #333;
		color: #fff;
		box-sizing: border-box;
		.et_pb_row{
			padding: 50px 0;
		}
		h4{
			font-size: 40px;
			margin: 0;
			padding: 0;
			color: $green;
			float: left;
		}
		a{
			background: $green;
			color: #fff;
			display: inline-block;
			padding: 7px 16px;
			float: right;
			font-size: 20px;
			border-radius: 30px;
			box-sizing: border-box;
		}
	}
}

#main-content .et_pb_section:last-of-type{
	box-shadow: 0 5px 10px rgba(0,0,0,.01);
}