.admin-bar #main-header{
	top: 32px;
}
#main-header{
	position: fixed;
	top: 0;
	box-shadow: none !important;
	transition: all 300ms ease !important;
	background-image: linear-gradient(to top, transparent, rgba(#000, .4) 100%) !important;
	&.green-header{
		background: $green !important;
		#logo #mark *, #logo #text *{
			fill: #fff;
		}
		#top-menu li > a, #top-menu li.current-menu-ancestor > a, header #top-menu li.current-menu-item > a, .bottom-nav li.current-menu-item > a{
			color: #fff;
			font-size: 17px;
			padding: 5px 10px;
			&:hover{
				color: #ddd;
			}
		}
			li.current-menu-item > a{
				background: #fff;
				color: $green !important;
				border-radius: 20px;
			}
	}
}
body:not(.page-home) {
	#main-header{
		background: #fff !important;
		border-bottom: 1px solid #ccc;
		#logo #mark *, #logo #text *{
			fill: $green;
		}
		background-image: none !important;
	}
		#top-menu li > a, #top-menu li.current-menu-ancestor > a, header #top-menu li.current-menu-item > a, .bottom-nav li.current-menu-item > a{
			color: #666;
			font-size: 19px;
			&:hover{
				color: #111;
			}
		}
}

#logo{
	width: 200px;
}
body #top-menu li{
	padding-right: 42px;
}

#top-menu li > a, #top-menu li.current-menu-ancestor > a, header #top-menu li.current-menu-item > a, .bottom-nav li.current-menu-item > a{
	color: #fff;
	font-size: 17px;
	padding: 5px 10px;
		transition: all 300ms ease;
	&:hover{
		color: #ccc;
		transition: none;
	}
}
			li.current-menu-item > a{
				background: $green;
				color: #fff !important;
				border-radius: 20px;
			}