.page-id-4 #page-container{
	#main-header{
		background: transparent;
		box-shadow: 0 !important;
	}
}

.home-hero{
	background-size: cover !important;
	height: 90vh;
	min-height: 700px;
	background-position: top right;
	padding: 0;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: -2;
	@include bp(custom, 0, 551px) {
		height: 50vh;
		min-height: 0;
	}
	.et_pb_row{
		position: absolute;
		padding: 0;
		margin: 0;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		h1{
			font-size: 75px;
			color: #fff;
			line-height: 1.3em;

			@include bp(custom, 0, 551px) {
				font-size: 35px;
				text-shadow: 2px 2px 5px #000;
				text-align: center;
			}
		}
		a{
			display: inline-block;
			background: $green;
			color: #fff;
			padding: 12px 30px;
			font-size: 20px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}

.et_pb_section:not(.home-hero){
	z-index: 2;
}

.home-hero + .et_pb_section{
	margin-top: 74vh;
	@include bp(custom, 0, 551px) {
		margin-top: 50vh
	}
	.et_pb_text#initial-headline{
		font-size: 23px;
		text-align: center;
		line-height: 1.2em;
		h3{
			color: darken($green, 12%);
			font-size: 42px;
			font-weight: bold;
			margin-bottom: 20px;
			font-family: $quicksand;
			@include bp(custom, 0, 551px) {
				font-size: 6vw;
			}
		}
		p{
			background: 0 0; 
			color: $green;
			background: linear-gradient(to right, $green, darken($green, 12%) 50%, $green 100%);
			display: inline-block;
			text-fill-color: transparent;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
			@include bp(custom, 0, 551px) {
				text-align: justify;
			}
			&:after{
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				width: 900px;
			}
		}
	}
}

.page-home{
	.et_pb_blurb_content{
		@include bp(custom, 0, 551px) {
			font-size: 19px;
			text-align: justify;
		}
		span.fa{
			font-size: 90px;
			text-align: center;
			display: block;
			width: 100%;
			color: $green;
		}
		h4{
			font-size: 25px;
			margin-bottom: 10px;
		}
	}
}

