body:not(.page-home) .et_pb_section{
	background: #eee !important;
}

.headline{
	padding: 100px 0 200px;
	@include bp(custom, 0, 551px) {
		padding: 25px 0;
	}
	p{
		width: 80%;
		margin: 20px auto 0;
		text-align: center;
	}
}

.headline.work-headline p{
	width: 90%;
}

.headline h1{
	text-align: center;
	display: block;
	width: 100%;
	color: $green;
	font-size: 59px;
}

.headline h3{
	font-family: $quicksand;
	text-align: center;
	color: #666;
	font-size: 34px;
	letter-spacing: -1px;
	font-weight: 300;
	margin-top: 10px;
	@include bp(custom, 0, 551px) {
		font-size: 30px;
		margin-bottom: 25px;
		+ p {
			display: none;
		}
	}
}

// Team page
.bio{
	background: #fff;
	text-align: center; 
	max-width: 400px;
	margin: 0 auto 200px;
	border-top: 3px solid $green;
	max-height: 290px;
	.person{
		border-radius: 50%;
		width: 250px;
		max-width: 80%;
		height: 250px;
		background: $green;
		margin: 0 auto;
		transform: translate(0, -50%);
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		transition: all 500ms ease;
		&:before{
			content: '+';
			position: absolute;
			font-family: $quicksand;
			opacity: 0;
			top: 50%;
			color: $green;
			font-size: 70px;
			left: 50%;
			z-index: 2;
			transform: translate(-50%, -50%);
			transition: all 500ms ease;
		}
		&:after{
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			text-align: center;
			content: '';
			display: block;
			height: 100%;
			width: 100%;
			border-radius: 50%;
			background: rgba(white, .9);
			transition: all 500ms ease;
		}
		&:hover:after, &:hover:before{
			opacity: 1;
		}
		&.kevin{
			background-image: url(img/Kevin.png);
		}
		&.jason{
			background-image: url(img/Jason.png);
		}
		&.brian{
			background-image: url(img/Brian.png);
		}
		&.tyler{
			background-image: url(img/Tyler.png);
		}
		&.jeremy{
			background-image: url(img/Jeremy.png);
		}
		&.tim{
			background-image: url(img/Tim.png);
		}
		&.hasToggled{
			animation: moveFront 500ms ease backwards 500ms;
		}
		&.toggled{
			animation: moveBehind 500ms ease forwards;
			&:after{
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				z-index: 1;
			}
			& + .bio-text .bio-paragraph{
				visibility: visible;
				opacity: 1;
				&:after{
					opacity: 1;
				}
			}
			& + .bio-text{
				transform: translateY(-230px);
				transition: all 500ms ease 500ms;
				height: 220px;
				padding-bottom: 20px;
				p{
					transition-delay: 0 !important;
					opacity: 1;
					padding-bottom: 35px;
				}
			}
		}
	}
	.bio-text{
			overflow: hidden;
		h3{
			text-transform: uppercase;
		}
		h4{
			font-family: $droid;
			font-weight: normal;
		}
		margin-top: 20px;
		transform: translateY(-100px);
		transition: all 500ms ease;
		.bio-paragraph{
			height: 160px;
			overflow: hidden;
			visibility: hidden;
			margin-top: 10px;
			position: relative;
			opacity: 0;
				transition: opacity 500ms ease 800ms;
			&:after{
				position: absolute;
				bottom: 0px;
				left: 0;
				height: 50px;
				content: '';
				width: 100%;
				display: block;
				opacity: 0;
				transition: opacity 500ms ease 500ms;
				background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 50%, #fff 100%);
			}
		}
		p{
			display: block;
			font-size: 17px;
			text-align: left;
			opacity: 0;
			width: 80%;
			margin: 00px auto 0;
			padding: 10px 0;
			transition: opacity 500ms ease 500ms;
		}
	}
}

@keyframes moveBehind{
	0%{
		transform: translate(0, -50%);
		z-index: 1;
	}
	50%{
		transform: translate(0, -100%);
		z-index: -1;
	}
	100%{
		transform: translate(0, -60%);
		z-index: -1;
	}
}
@keyframes moveFront{
	0%{
		transform: translate(0, -60%);
		z-index: -1;
	}
	50%{
		transform: translate(0, -100%);
		z-index: -1;
	}
	100%{
		transform: translate(0, -60%);
		z-index: 1;
	}
}

.work-headline{
	width: 80%;
	margin: 0 auto;
	p{
		text-align: left;
	}
	h3{
		font-family: $quicksand;
		font-weight: bold;
		text-align: left;
		width: 500px;
		margin: 40px auto 0;
		display: block;
		color: $green;
	}
}

#gform_wrapper_2{
	max-width: 500px;
	margin: 0px auto 0;
	.top_label input.medium{
		width: 100%;
	}

	.gform_footer input.button, .gform_wrapper .gform_footer input[type=submit]{
		background: $green;
		border-radius: 20px;
		color: #fff;
		float: right;
		padding: 7px 15px;
		border: 0;
	}
	 .top_label .gfield_label{
			font-weight: normal;
			text-transform: uppercase;
			font-size: 14px;
		}
}